footer {
    background-color: cornsilk;
    padding: 20px;
}
.footer-style {
    div{
        text-align: start;
    }
    p{
        text-align: start;  
    }
    ul{
        text-align: start;  
    }
}